:root {
    --dark-background-color: #333;
    --light-background-color: #f5f5f5;
    --dark-background-color: #000;
    --light-background-color: #fff;
    --grey-background-color: #ccc;
    --accent-color: #6d0509;
    --general-padding: 2em;
    --general-margin: 1em;
}